<!DOCTYPE html>
<html>
  <head>
    <title>LSPhotography</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'favicon.png' %>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Caveat&family=Dawning+of+a+New+Day&family=Nanum+Brush+Script&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dawning+of+a+New+Day&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= yield %>
    <div id="react-root"></div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
